# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Trained model artifacts
model/*.joblib
model/*.tar.gz

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

artifacts/